<style>
  i.icon-red {
      color: #c62828;
  }
  .ember-power-select-option, .ember-power-select-multiple-option {
   margin-right:1em;
   line-height:37.5px;
   height: 37.5px;
  }
  .ember-power-select-option span, .ember-power-select-multiple-option span{
    display:inline-block;
    line-height:37.5px;
    height: 37.5px;
  }

  .collection {
    height: 37vh;
    overflow-y: scroll;
  }

  .tertiary-content {
    position: absolute;
    top: 16px;
    right: 64px;
  }
</style>

<div class="row">
  <div class="col s10 offset-s1">
    <blockquote> <h4> {{if model.isNew 'Nuevo' 'Editar'}} Contrato </h4> </blockquote>
  </div>
</div>

<div class="row">
  <form class="col s10 offset-s1">
      <div class="row">
        <div class="col s7">
          <div class="row">
            <div class="col s12">
              <label>Subscriptor</label>
              {{#power-select
                renderInPlace=true
                selected=model.subscriber
                options=subscribers
                searchField='fullName'
                onchange=(action (mut model.subscriber))
                as |subscriber|}}
                {{subscriber.fullName}}
              {{/power-select}}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <ul class="collection with-header">
                <li class="collection-header"><h5>Alumnos en el Contrato</h5></li>
                  {{#each currentContracts as |studentContract|}}
                    <li class="collection-item avatar">
                      <img src="/media/student.png" alt="" class="circle">
                      <span class="title">{{studentContract.student.fullName}}</span>
                      <p>Agregado en {{studentContract.startDateString}} </p>
                      <a class="secondary-content btn-floating right red darken-3" {{action 'removeStudent' studentContract}} ><i class="material-icons">delete</i></a>
                    </li>
                  {{else}}
                    <li class="collection-item">No se han agregado alumnos al contrato.</li>
                  {{/each}}
                </ul>
            </div>
          </div>
        </div>
        <div class="col s5">
          <div class="row">
            <div class="col s12">
              <label>Agregar Alumnos</label>
              {{#power-select-multiple
                renderInPlace=true
                selected=selectedStudents
                options=students
                searchField='fullName'
                onchange=(action (mut selectedStudents))
                as |student|}}
                {{#if (array-contains currentContracts student.id property='student.id')}}
                  {{student.fullName}} <span class="new badge red darken-3" data-badge-caption="Ya agregado."></span>
                {{else}}
                  {{student.fullName}}
                {{/if}}
              {{/power-select-multiple}}
            </div>
            <div class="col s12">
              <div class="row">
                <div class="col s12">
                  <label>Fecha de Inicio: </label>
                  {{input disabled=true value=model.startDateString type="text" class="validate"}}
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <label>Fecha de Término: </label>
                  {{input disabled=true value=model.endDateString type="text" class="validate"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        {{#link-to 'auth.contracts' class="waves-effect waves-light btn red darken-3 left"}}
          <i class="material-icons right">cancel</i> Cancelar
        {{/link-to}}
        <button type="submit" class="waves-effect waves-light btn light-blue darken-4 right" {{action 'saveContract'}}>
          <i class="material-icons right">save</i> Guardar
        </button>
      </div>
  </form>
</div>
