<style type="text/css">
  body {
    padding-left: 300px;
  }
  .footerBottom {
    width:100%;
    position: absolute;
    padding-left: 300px;
    right: 0;
    bottom: 0;
  }
  .visibleNav {
    transform: translateX(0%) !important;
  }
</style>

<!-- SIDENAV -->
{{#jquery-wrapper query='.sidenav' method='sidenav'}}
  <ul id="slide-out" class="sidenav fixed visibleNav">
    <li><div class="user-view">
      <div class="background">
        <img src="/media/books.jpeg">
      </div>
      <a><img class="circle" src="/media/admin.jpeg"></a>
      <a><span class="white-text name">Admin 1</span></a>
      <a><span class="white-text email">admin_academy@gmail.com</span></a>
    </div></li>
    <li class="{{if (eq routeName 'auth.dashboard') 'active'}}">
      {{#link-to 'auth.dashboard'}}<i class="material-icons">home</i>Dashboard{{/link-to}}
    </li>
    <li class="{{if (eq routeName 'auth.students.index') 'active'}}">
      {{#link-to 'auth.students'}}<i class="material-icons">people</i>Alumnos{{/link-to}}
    </li>
    <li class="{{if (eq routeName 'auth.teachers.index') 'active'}}">
      {{#link-to 'auth.teachers'}}<i class="material-icons">school</i>Profesores{{/link-to}}
    </li>
    <li class="{{if (eq routeName 'auth.subscribers.index') 'active'}}">
      {{#link-to 'auth.subscribers'}}<i class="material-icons">supervisor_account</i>Subscriptores{{/link-to}}
    </li>
    <li class="{{if (eq routeName 'auth.contracts.index') 'active'}}">
      {{#link-to 'auth.contracts'}}<i class="material-icons">assignment</i>Contratos{{/link-to}}
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Account</a></li>
    <li>
      {{#link-to 'login' class="waves-effect" href="#!"}}Sign Out{{/link-to}}
    </li>
  </ul>
{{/jquery-wrapper}}

{{outlet}}

<!-- MODALS -->
{{#jquery-wrapper query='.modal' method='modal' options=modalOptions}}
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>{{if selectedSubscriber.isNew 'Nuevo' 'Editar'}} Subscriptor</h4>
      <div class="row">
        <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                {{input type="text" class="validate active" value=selectedSubscriber.name}}
                <label>Nombre</label>
              </div>
              <div class="input-field col s6">
                {{input type="text" class="validate active" value=selectedSubscriber.last_name}}
                <label>Apellidos</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{input type="number" type="text" class="validate" value=selectedSubscriber.phone}}
                <label>Teléfono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{input type="email" type="text" class="validate" value=selectedSubscriber.mail}}
                <label>Email</label>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer blue darken-2">
      <button class="modal-close waves-effect waves-green btn-flat white-text left">cancel</button>
      <a href="" class="modal-close waves-effect waves-green btn-flat white-text right" {{action 'saveRecord' selectedSubscriber 'selectedSubscriber'}}>Guardar</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>{{if selectedStudent.isNew 'Nuevo' 'Editar'}} Alumno</h4>
      <div class="row">
        <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                {{input type="text" class="validate active" value=selectedStudent.name}}
                <label>Nombre</label>
              </div>
              <div class="input-field col s6">
                {{input type="text" class="validate active" value=selectedStudent.last_name}}
                <label>Apellidos</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{input type="number" type="text" class="validate" value=selectedStudent.phone}}
                <label>Teléfono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{input type="email" type="text" class="validate" value=selectedStudent.mail}}
                <label>Email</label>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer blue darken-2">
      <button class="modal-close waves-effect waves-green btn-flat white-text left">cancel</button>
      <a href="" class="modal-close waves-effect waves-green btn-flat white-text right" {{action 'saveRecord' selectedStudent 'selectedStudent'}}>Guardar</a>
    </div>
  </div>

  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>{{if selectedTeacher.isNew 'Nuevo' 'Editar'}} Profesor</h4>
      <div class="row">
        <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                {{input type="text" class="validate active" value=selectedTeacher.name}}
                <label>Nombre</label>
              </div>
              <div class="input-field col s6">
                {{input type="text" class="validate active" value=selectedTeacher.last_name}}
                <label>Apellidos</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{input type="number" type="text" class="validate" value=selectedTeacher.phone}}
                <label>Teléfono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{input type="email" type="text" class="validate" value=selectedTeacher.mail}}
                <label>Email</label>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer blue darken-2">
      <button class="modal-close waves-effect waves-green btn-flat white-text left">cancel</button>
      <a href="" class="modal-close waves-effect waves-green btn-flat white-text right" {{action 'saveRecord' selectedTeacher 'selectedTeacher'}}>Guardar</a>
    </div>
  </div>

{{/jquery-wrapper}}

<!-- FOOTER -->

<footer class="page-footer footerBottom blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col s6 offset">
        <h5 class="white-text">My English Academy</h5>
      </div>
      <div class="col s6">

        {{#if (eq routeName 'auth.dashboard')}}
          <button class="waves-effect waves-light btn-flat white-text" {{action 'createTeacher'}}>
            <i class="material-icons left">add</i>Nuevo Profesor
          </button>
          <button class="waves-effect waves-light btn-flat white-text" {{action 'createStudent'}}>
            <i class="material-icons left">add</i>Nuevo Alumno
          </button>
          {{#link-to 'auth.contracts.new' class="waves-effect waves-light btn-flat white-text"}}
            <i class="material-icons left">add</i>Nuevo Contrato
          {{/link-to}}
          <button class="waves-effect waves-light btn-flat white-text" {{action 'createSubscriber'}}>
            <i class="material-icons left">add</i>Nuevo Subscriptor
          </button>
          {{else}}
            {{#if (eq routeName 'auth.students.index')}}
              <button class="waves-effect waves-light btn-flat white-text" {{action 'createStudent'}}>
                <i class="material-icons left">add</i>Nuevo Alumno
              </button>
            {{else}}
                {{#if (eq routeName 'auth.teachers.index')}}
                  <button class="waves-effect waves-light btn-flat white-text" {{action 'createTeacher'}}>
                    <i class="material-icons left">add</i>Nuevo Profesor
                  </button>
                {{else}}
                    {{#if (eq routeName 'auth.contracts.index')}}
                      {{#link-to 'auth.contracts.new' class="waves-effect waves-light btn-flat white-text"}}
                        <i class="material-icons left">add</i>Nuevo Contrato
                      {{/link-to}}
                    {{else}}
                        {{#if (eq routeName 'auth.subscribers.index')}}
                          <button class="waves-effect waves-light btn-flat white-text" {{action 'createSubscriber'}}>
                            <i class="material-icons left">add</i>Nuevo Subscriptor
                          </button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 English Academy
      <a class="grey-text text-lighten-4 right" href="https://github.com/Lex3960/LDAW_ProyectoFinal_WebApp" target="_blank">Developed by Álex Reséndiz</a>
    </div>
  </div>
</footer>
